.about__container {
  max-width: 80%;
  margin: 2rem auto;
  background: var(--bg-alt, #fff);
  border-radius: var(--radius, 1rem);
  box-shadow: var(--shadow, 0 4px 12px rgba(0, 0, 0, 0.1));
  text-align: center;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 160px;
  text-align: center;
  background: var(--bg-alt, #fff);
  border-radius: var(--radius, 1rem);
  box-shadow: var(--shadow, 0 4px 12px rgba(0, 0, 0, 0.1));

}

.about__title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.about__subtitle {
  font-size: 1.25rem;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}


.about__description {
  width: 60%;
  display: block;
  /* ensure it respects width */
  margin: 0 auto;
  /* center it */
}

@media (max-width: 768px) {
  .about__container {
    max-width: 95%;
  }
  .about__title {
    font-size: 1.75rem;
  }

  .about__subtitle {
    font-size: 1.125rem;
  }

  .about__description {
    font-size: 0.95rem;
    width: 90%;
  }

  .ant-space {
    flex-direction: column !important;
    align-items: center;
  }
}